.active {
    background-color: #000;
    color: #FFF;
}

nav li {
    display: inline-block;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 15px;
}

nav a:hover {
    color: #FF5733;
    transition: border-bottom .2s, border-left .4s, border-top .6s, border-right .9s;
}

nav ul {
    padding: 0px; 
}