.active {
    background-color: #000;
    color: #FFF;
}

nav li {
    display: inline-block;
}

nav a {
    color: #000;
    text-decoration: none;
    padding-left: 40px;
    padding-top: 25px;
    padding-right: 40px;
}

nav a:hover {
    color: #FF5733;
}

nav ul {
    padding: 150px; 
}